<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">

    <script src="lib/js/jquery-3.1.1.min.js"></script>
    <script src="lib/js/angular.min.js"></script>
    <script src="lib/js/angular-animate.js"></script>
    <link href="lib/css/style.css" type="text/css" rel="stylesheet">
    <link href="lib/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
    <script src="app/app.js"></script>
    <script src="app/controllers/lieu_controller.js"></script>
    <script src="app/controllers/map_controller.js"></script>
    <script src="app/directives/lieu_directive.js"></script>
    <script src="app/directives/indice_directive.js"></script>
    <script src="app/factory/lieu_factory.js"></script>
    <script src="app/models/lieu.js"></script>
</head>
<body ng-app="app">

<div  ng-controller="LieuController">
<div id="info">
    <nav class="navbar navbar-default" >
        <div class="masthead text-center">
            <h3 class="text-muted">Find Your Way</h3>
        </div>
        <div class="text-center">
            <button class=" btn btn-primary" ng-click="cambio()">Regles du jeu</button>
            <button class=" btn btn-primary" ng-click="newGame()">Demarrer</button>
            <button ng-controller="MapController" class=" btn btn-primary" ng-click="initMap()">Redemarrer</button>
            <div class=" btn btn-primary">Score : {{score}}</div>
        </div>
    </nav>
    <div class="lieux">
        <div class="indication-block ind" ng-hide="in5">
            <h6>{{indications.Lieu5.indic}}</h6>
        </div>
        <div class="indication-block ind" ng-hide="in4" >
            <h6>{{indications.Lieu4.indic}}</h6>
        </div>
        <div class="indication-block ind" ng-hide="in3">
            <h6>{{indications.Lieu3.indic}}</h6>
        </div>
        <div class="indication-block ind" ng-hide="in2">
            <h6>{{indications.Lieu2.indic}}</h6>
        </div>
        <div class="indication-block ind" ng-hide="in1">
            <h6>{{indications.Lieu1.indic}}</h6>
        </div>
    </div>
    <hr/>
    <div class="destFinal">
        <div class="indication-block ind" ng-hide="destFinal1">
            <h6>{{indices.indice1}}</h6>
        </div>
        <div class="indication-block ind" ng-hide="destFinal2">
            <h6>{{indices.indice2}}</h6>
        </div>
        <div class="indication-block ind" ng-hide="destFinal3">
            <h6>{{indices.indice3}}</h6>
        </div>
        <div class="indication-block ind" ng-hide="destFinal4">
            <h6>{{indices.indice4}}</h6>
        </div>
        <div class="indication-block ind" ng-hide="destFinal5">
            <h6>{{indices.indice5}}</h6>
        </div>
    </div>
</div>
    
</div>

    <div ng-controller="MapController"  id="map"></div>



<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBFeIoKhcRxrDwZj_or9ry618Xta7dD1OM&libraries=geometry" async defer></script>
</body>
</html>
