<!DOCTYPE html>
<head> <title>Ajouter un nouveau lieu</title> </head>
<body>
<h2>Nouveau lieu</h2>
<!--TODO: ajouter des informations sur les champs pour l'utilisateur-->
<form method = "post" action="http://admin.findyourway.local/admin/lieu">
Nom du lieu :* <input type="text" name="nom_lieu"><br>
latitude :* <input type="text" name="lat"><br>
longitude :* <input type="text" name="lng"><br>
indication :* <input type="text" name="indication"><br>
description : <input type="text" name="description"><br>
image : <input type="text" name="image"><br>
indice n°1 : <input type="text" name="indice1"><br>
indice n°2 : <input type="text" name="indice2"><br>
indice n°3 : <input type="text" name="indice3"><br>
indice n°4 : <input type="text" name="indice4"><br>
indice n°5 : <input type="text" name="indice5"><br>
<input type="submit" value="Ajouter">
</form>

Les champs marqués d'un (*) sont obligatoires.
</body>
</html>
