<!DOCTYPE html>
<head>
    <title>Ajouter un nouveau lieu</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
</head>

<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Admin Find Your Way</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="http://admin.findyourway.local/admin/formlieu/{{lieu.id}}">Modifier Lieu</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
    </div>
</nav>
<!--TODO: ajouter des informations sur les champs pour l'utilisateur-->
<div class="container">
    <h2 class="page-header">Nouveau lieu</h2>
<div class="jumbotron">
<form class="form-horizontal container" method = "post" action="http://admin.findyourway.local/admin/lieu">
    <div class="form-group">
        <label class="col-lg-2" for="nom_lieu"> Nombre:* </label>
        <div>
        <input class="form-control" type="text" name="nom_lieu" id="nom_lieu">
        </div>
    </div>

    <div class="form-group">
    <label class="col-lg-2" for="lat"> Latitude:* </label>
        <div>
    <input class="form-control" type="text" name="lat" id="lat">
        </div>
    </div>

    <div class="form-group">
    <label class="col-lg-2" for="lng"> Longitude:* </label>
        <div>
    <input class="form-control" type="text" name="lng" id="lng">
    </div>
    </div>

    <div class="form-group">
    <label class="col-lg-2" for="indication"> Indication:* </label>
        <div>
    <input class="form-control" class="form-control" type="text" name="indication" id="indication">
    </div>
    </div>

    <div class="form-group">
    <label class="col-lg-2" for="description"> Description: </label>
        <div>
    <input class="form-control" type="text" name="description" id="description">
    </div>
    </div>

    <div class="form-group">
    <label class="col-lg-2" for="Image"> Image: </label>
        <div>
    <input class="form-control" type="text" name="image" id="Image">
    </div>
    </div>

    <div class="form-group">
    <label class="col-lg-2" for="indice1"> Indice1:* </label>
        <div>
    <input class="form-control" type="text" name="indice1" id="indice1">
    </div>
    </div>

    <div class="form-group">
    <label class="col-lg-2" for="indice2"> Indice2:* </label>
        <div>
    <input class="form-control" type="text" name="indice2" id="indice2">
    </div>
    </div>

    <div class="form-group">
    <label class="col-lg-2" for="indice3"> Indice3:* </label>
        <div>
    <input class="form-control" type="text" name="indice3" id="indice3">
    </div>
    </div>

    <div class="form-group">
    <label class="col-lg-2" for="indice4"> Indice4:* </label>
        <div>
    <input class="form-control" type="text" name="indice4" id="indice4">
    </div>
    </div>

    <div class="form-group">
    <label class="col-lg-2" for="indice5"> Indice5:* </label>
    <input class="form-control" type="text" name="indice6" id="indice7">
    </div>

    <div class="form-group">
    <label for="dest_final"> Ajouter en tant que destination finale:* </label>
    <div>
    <select class="form-control" name="dest_finale" id="dest_finale">
        <option value="0" selected>No</option>
        <option value="1">oui</option>
    </select>
    </div>
    </div>

<input class="btn btn-success col-lg-12" type="submit" value="Ajouter">
</form>
    </div>
</div>
Les champs marqués d'un (*) sont obligatoires.
</body>
</html>
