<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">

<link href="/backoffice/css/ajoutUtilisateur.css" type="text/css" rel="stylesheet">

<title>Ajouter un nouvel utilisateur</title>
</head>

<body>
<h2>Nouvel utilisateur</h2>
<!--TODO: ajouter des informations sur les champs pour l'utilisateur-->
<form method = "post" action="http://backend.findyourway.local/newUser">
Nom :* <input type="text" name="nom"><br>
Adresse mail :* <input type="text" name="email"><br>
Niveau de droits : <input type="text" name="nv_droit"><br>
Mot de passe :* <input type="text" name="password"><br>
<input type="submit" value="Ajouter">
</form>

Les champs marqués d'un (*) sont obligatoires.
</body>
</html>
